@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&family=Sofadi+One&display=swap");

:root {
  background-color: rgb(37, 37, 37);
  --outline: 2px solid red;
  --primary-color: green;
  --primary-hover: rgb(3, 85, 3);
  --secondary-font: Sofadi One;
  --overlay: linear-gradient(rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.8));
  --img-overlay: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
  font-family: SUSE;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-radius: 10px;
  margin: 0 5px;
  cursor: grab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.overlay {
  display: none;
}
.overlay.active {
  display: block;
  height: 100dvh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(15px);
}
/* NAVIGATION BAR COMPONENT */
.logo {
  height: 80px;
  scale: 0.8;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  position: absolute;
  top: 5px;
  width: 100%;
  z-index: 2;
}
.navlinks {
  display: inline-block;
  margin: 5px;
  list-style: none;
  transition: 0.3s;
  padding: 2px 10px;
}
.nav-container ul {
  margin-right: 30px;
}
.navlinks a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.navlinks:hover {
  scale: 1.05;
}
.navlinks.btn {
  padding: 2px 20px;
  border-radius: 7px;
  border: 2px solid green;
}
.navlinks.btn:hover {
  background-color: var(--primary-hover);
  border: 2px solid transparent;
}
.navlinks.register {
  background-color: green;
}

/* -------------- BUTTON COMPONENT -------------- */
.btn {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.btn-container {
  padding: 8px 30px;
  border-radius: 10px;
  background-color: var(--primary-hover);
  transition: 0.3s;
  width: fit-content;
  box-shadow: 5px 5px 2px 0.2px rgba(255, 255, 255, 0.178);
  cursor: pointer;
}
.btn-container.secondary {
  padding: 5px 30px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.3s;
  width: fit-content;
  box-shadow: 5px 5px 2px 0.2px rgba(255, 255, 255, 0.123);
  cursor: pointer;
}
.btn-container:hover {
  background-color: var(--primary-hover);
  scale: 1.02;
}
.btn-container.secondary:hover {
  border: 3px solid transparent;
  background-color: var(--primary-hover);
  scale: 1.02;
}
.btn-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* SIDE NAVIGATION - COMPONENT */
.side-nav {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  border: 3px solid white;
  height: 350px;
  padding: 5px 0;
  overflow: hidden;
}
.side-nav .btn {
  font-size: 1.2rem;
}
.side-nav .btn-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  border-radius: 0;
  width: 100%;
}
.side-nav .btn-container:hover {
  background-color: var(--primary-hover);
}
.side-nav .btn-container.active {
  background-color: var(--primary-hover);
}
/* HOMEPAGE COMPONENT - PAGE */
.page-container {
  position: relative;
  overflow: hidden;
}
.hero-section {
  background-image: var(--overlay), url("assets/Static/herobg.jpg");
  height: 600px;
  background-position: right;
  background-size: cover;
  background-repeat: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
}
.hero-text {
  color: white;
  margin-top: 50px;
}
.hero-text h1 {
  font-size: 4rem;
  margin: 15px 0;
}
.hero-text h2 {
  font-size: 3rem;
  margin: 0px;
}
.hero-text h3 {
  font-size: 2rem;
  margin: 0px;
}
.hero-text span {
  color: var(--primary-color);
}
.hero-btns {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.container-2 {
  position: absolute;
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 20px;
  transform: translateY(200px);
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
}
.container-2.visible {
  transform: translateY(-100px);
  opacity: 1;
}
.container-2 h3 {
  color: white;
  font-size: 2.5rem;
  font-family: var(--secondary-font);
}
.choose-grade {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.class-grade {
  height: 200px;
  width: 300px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  font-family: var(--secondary-font);
  color: white;
  transition: 0.3s;
  background-color: var(--primary-color);
  box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.328);
}
.class-grade:hover {
  background-color: var(--primary-hover);
  scale: 0.95;
}

/*------------- INPUT COMPONENT ----------*/
.input-container {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  height: 85vh;
  width: 100%;
  padding: 0 20px;
  gap: 20px;
}
.input-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  color: rgb(68, 67, 67);
  align-items: center;
}
.input-field {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.input-container input {
  outline: none;
  background-color: rgb(74, 74, 74);
  border: none;
  border-radius: 5px;
  width: 70px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  color: white;
}
.input-container input::placeholder {
  color: #bababa;
}
.form-field.student-name {
  width: 250px;
  text-align: start;
  padding: 5px 20px;
  border: 3px solid var(--primary-color);
  background-color: transparent;
  color: #232323;
  text-transform: capitalize;
  font-weight: normal;
}
.form-field.student-name::placeholder {
  color: #555;
}
.grading-table-container {
  width: 60%;
  padding: 0 12px 10px;
  background-color: white;
  border-radius: 10px;
}
.grading-table-container .btn {
  font-size: 1.2rem;
}
.grading-table-container .btn-container {
  padding: 8px 20px;
  box-shadow: 0 0 0 0;
}
.grades-table {
  padding-left: 30px;
  overflow: auto;
  height: 400px;
  border: 4px solid var(--primary-color);
  border-bottom: none;
  border-radius: 10px;
}
.cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.results-table {
  width: 34%;
  background-color: var(--primary-color);
  border: 3px solid white;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  padding: 10px 0;
}
.results-table table {
  width: 100%;
}
.results-table table td {
  padding: 0 20px;
  font-weight: 600;
  font-size: 1.4rem;
}
.results-table table th {
  padding: 0 20px;
  font-weight: 600;
  text-align: start;
}
.result-score {
  text-align: center;
}
/* grading component- component */

.active-tab {
  width: 25%;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 10px;
  background-color: var(--primary-hover);
  border-radius: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.grading-tab {
  display: flex;
  padding-top: 90px;
}
.tab-section {
  width: 85%;
}
.form-field.read-only-field {
  background-color: transparent;
  color: orangered;
  border: 3px solid orangered;
}
.form-field.read-only-field::placeholder {
  color: orangered;
}
