@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&family=Sofadi+One&display=swap");

:root {
  background-color: rgb(37, 37, 37);
  --outline: 2px solid red;
  --primary-color: green;
  --primary-hover: rgb(3, 85, 3);
  --secondary-font: Sofadi One;
  --overlay: linear-gradient(rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.8));
  --img-overlay: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
  font-family: SUSE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container.fixed {
  border: var(--outline);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-radius: 10px;
  margin: 0 5px;
  cursor: grab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.overlay {
  display: none;
}
.overlay.active {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(15px);
  background: #23232366;
  left: 0;
}

/* NAVIGATION BAR COMPONENT */

.logo {
  height: 80px;
  scale: 0.8;
}
.nav-container.responsive .logo {
  height: 50px;
  scale: 0.65;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.nav-container.responsive {
  background: var(--primary-hover);
  backdrop-filter: blur(50px);
}
.navlinks {
  display: inline-block;
  margin: 5px;
  list-style: none;
  transition: 0.3s;
  padding: 2px 10px;
}
.nav-container ul {
  margin-right: 30px;
}
.nav-container ul.responsive {
  margin-right: 0;
}
.navlinks a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.responsive .navlinks a {
  font-size: 1rem;
}
.navlinks:hover {
  scale: 1.05;
}
.navlinks.btn {
  padding: 2px 20px;
  border-radius: 7px;
  border: 2px solid green;
  text-align: center;
}
.navlinks.btn:hover {
  background-color: var(--primary-hover);
  border: 2px solid transparent;
}
.navlinks.register {
  background-color: green;
}
.navlinks .btn-container {
  box-shadow: 0 0 0 0;
  padding: 0px;
  border-radius: 7px;
  background-color: transparent;
}
.navlinks .btn-container:hover {
  background-color: transparent;
}
.navlinks .btn {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
}
.nav-container svg {
  color: white;
  font-size: 30px;
}
/* -------------- BUTTON COMPONENT -------------- */
.btn {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.hero-section.responsive .btn {
  font-size: 1.1rem;
  text-align: center;
}
.btn-container {
  padding: 8px 30px;
  border-radius: 10px;
  background-color: var(--primary-color);
  transition: 0.3s;
  width: fit-content;
  box-shadow: 5px 5px 2px 0.2px rgba(255, 255, 255, 0.178);
  cursor: pointer;
}
.hero-section.responsive .btn-container {
  padding: 8px 15px;
}
.btn-container.secondary {
  padding: 5px 30px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.3s;
  width: fit-content;
  box-shadow: 5px 5px 2px 0.2px rgba(255, 255, 255, 0.123);
  cursor: pointer;
}
.btn-container:hover {
  background-color: var(--primary-hover);
}
.btn-container.secondary:hover {
  border: 3px solid transparent;
  background-color: var(--primary-hover);
}
.btn-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* SIDE NAVIGATION - COMPONENT */
.side-nav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.side-nav .btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.side-nav .btn-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  border-radius: 0;
  width: 100%;
}
.side-nav .btn-container:hover {
  background-color: var(--primary-hover);
}
.side-nav .btn-container.active {
  background-color: var(--primary-hover);
}
/* HOMEPAGE COMPONENT - PAGE */
.page-container {
  position: relative;
  overflow: hidden;
}
.page-container.responsive {
  height: 100dvh;
  width: 100vw;
}
.hero-section {
  background-image: var(--overlay), url("assets/Static/herobg.jpg");
  height: 100dvh;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
}
.hero-section.responsive {
  height: 100vh;
  width: 100%;
  padding: 0 20px;
}
.hero-text {
  color: white;
  margin-top: 50px;
}
.responsive .hero-text {
  margin-top: -50px;
}
.hero-text h1 {
  font-size: 4rem;
  margin: 15px 0;
}
.hero-section.responsive .hero-text h1 {
  font-size: 2.3rem;
}
.hero-text h2 {
  font-size: 3rem;
  margin: 0px;
}
.hero-section.responsive .hero-text h2 {
  font-size: 2rem;
}
.hero-text h3 {
  font-size: 2rem;
  margin: 0px;
}
.hero-section.responsive .hero-text h3 {
  font-size: 1.5rem;
}
.hero-text span {
  color: var(--primary-color);
}
.hero-btns {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.container-2 {
  position: absolute;
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 20px;
  transform: translateY(200px);
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
}
.container-2.visible {
  transform: translateY(-150px);
  opacity: 1;
}
.container-2.visible.responsive {
  transform: translateY(-250px);
  opacity: 1;
}
.container-2 h3 {
  color: white;
  font-size: 2.5rem;
  font-family: var(--secondary-font);
  margin-bottom: 30px;
}
.choose-grade {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.class-grade {
  height: 200px;
  width: 300px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  font-family: var(--secondary-font);
  color: white;
  transition: 0.3s;
  background-color: var(--primary-color);
  box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.328);
}
.class-grade:hover {
  background-color: var(--primary-hover);
  scale: 0.95;
}

/*
*================
*INPUT COMPONENT 
*================
*/
.input-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 85vh;
  width: 99.5vw;
  gap: 20px;
}
.input-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  color: rgb(68, 67, 67);
  align-items: center;
}
.input-field {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
  position: relative;
}
.input-wrapper {
  width: 100%;
}
.input-container input {
  outline: none;
  background-color: rgb(74, 74, 74);
  border: none;
  border-radius: 5px;
  width: 70px;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px;
  color: white;
  text-align: center;
}
.input-container input::placeholder {
  color: #bababa;
}
.form-field.student-name {
  width: 250px;
  text-align: start;
  padding: 5px 20px;
  border: 3px solid var(--primary-color);
  background-color: transparent;
  color: #232323;
  text-transform: capitalize;
  font-weight: normal;
}
.pwd-toggle-icon {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  top: 20%;
  color: #555;
  cursor: pointer;
}

.pwd-toggle-icon:hover {
  color: #000;
}
.form-field.student-name::placeholder {
  color: #555;
}

/*
*==================================
*GRADING COMPONENT
*==================================
*/
.grading-table-container {
  width: 60%;
  padding: 0 20px 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}
.grading-table-container .btn {
  font-size: 1.2rem;
}
.grading-table-container .btn-container {
  padding: 8px 20px;
  box-shadow: 0 0 0 0;
}
.grades-table {
  overflow: auto;
  overflow-x: hidden;
  height: 390px;
}
.cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.cta select {
  border: 3px solid var(--primary-color);
  height: 100%;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.student-name-box {
  width: 100%;
}
.results-table {
  width: 50%;
  font-size: 1.2rem;
  color: white;
  padding: 10px 0;
}
.results-table table {
  width: 100%;
  border-collapse: collapse;
}
.results-table table td,
.results-table table th {
  border: 1px solid white; /* Inside borders */
  text-align: center; /* Centers the text horizontally */
  vertical-align: middle; /* Centers the text vertically */
  padding: 10px; /* Adds some space inside cells */
  text-transform: uppercase;
  font-weight: 600;
}

.result-score {
  text-align: center;
}
.active-tab {
  min-width: 15%;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 10px;
  background-color: var(--primary-hover);
  border-radius: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.grading-tab {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}
.tab-section {
  width: 90%;
}
.form-field.read-only-field {
  background-color: transparent;
  color: orangered;
  border: 3px solid orangered;
}
.form-field.read-only-field::placeholder {
  color: orangered;
}

/* CONTACT CONPONENT - PAGE */
.contact-section {
  background-image: var(--img-overlay), url("assets/Static/contact-us.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 40px 30px;
  gap: 50px;
}
.contact-section.responsive {
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 30% 10px;
}
.contact-form-text {
  width: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: black;
}
.responsive .contact-form-text {
  width: 100%;
}
.contact-text span {
  background-color: rgba(131, 149, 239, 0.206);
  padding: 5px 10px;
  border-radius: 10px;
  font-family: var(--secondary-font);
  color: blue;
}
.contact-text h3 {
  font-size: 2rem;
  margin: 15px 0 10px;
}
.contact-text p {
  font-size: 1.2rem;
}
.contact-form {
  position: relative;
}
.contact-form h4 {
  font-size: 1.4rem;
  margin: 10px 0;
  font-family: var(--secondary-font);
}
.contact-form .input-field {
  padding: 0 10px;
  height: 40px;
  width: 55%;
  border-radius: 10px;
  margin: 5px 0;
  background-color: rgba(131, 149, 239, 0.337);
}
.responsive .input-field {
  width: 100%;
}
.contact-form .input-field input {
  outline: none;
  border: none;
  font-size: 1.15rem;
  background-color: transparent;
  width: 100%;
}
.contact-form textarea {
  min-height: 30px;
  min-width: 600px;
  max-width: 600px;
  font-size: 1.3rem;
  padding: 5px 10px;
  margin-top: 5px;
}
.responsive .contact-form textarea {
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
  font-size: 1.1rem;
}
.contact-form .btn-container {
  justify-self: flex-end;
  margin-top: 10px;
  border-radius: 5px;
}
.contact-form .btn {
  font-size: 1rem;
}
.contact-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  place-content: center;
  place-items: center;
  gap: 20px;
}
.contact-box {
  backdrop-filter: blur(20px);
  width: 250px;
  height: fit-content;
  padding: 15px;
  border: 2px solid white;
  border-radius: 10px;
}
.responsive .contact-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 200px;
}
.contact-box .icon {
  border: 1px solid white;
  width: fit-content;
  padding: 7px 10px;
  border-radius: 5px;
}
.icon svg {
  font-size: 1.4rem;
}
.responsive .icon svg {
  font-size: 1.2rem;
}
.contact-box .text h5 {
  margin: 20px 0 5px;
  font-size: 1.2rem;
  font-weight: normal;
}
.responsive .contact-box .text h5 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

.contact-box .text p {
  margin: 0 0 20px;
  font-size: 0.9rem;
  color: #b4b2b2;
}
.responsive .contact-box .text p {
  margin: 0 0 10px;
}
.contact-box a {
  color: white;
}

.contact-box .social-links {
  display: flex;
  gap: 10px;
}
.contact-box .social-links svg {
  font-size: 1.3rem;
}

/* ABOUT US - COMPONENT - PAGE */
.overview {
  border: 2px solid white;
  max-width: 400px;
  height: 400px;
  padding: 20px;
  backdrop-filter: blur(30px);
  border-radius: 10px;
}
.responsive .overview {
  height: fit-content;
}
.overview h2 {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}
.overview {
  font-size: 1.15rem;
  text-align: start;
}
.overview span {
  font-weight: 600;
  color: var(--primary-color);
}

/* AUTHENTICATION COMPONENTS */
.auth-page-wrapper {
  background-image: var(--overlay), url("assets/Static/loginbg.jpg");
  background-repeat: none;
  background-position: right;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container {
  position: relative;
  padding: 20px 30px;
  width: 30%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(5, 170, 5, 0.168);
  backdrop-filter: blur(20px);
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
}
.auth-container .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.auth-container .heading svg {
  font-size: 2rem;
}
.auth-container h1 {
  margin: 0;
  text-transform: uppercase;
}
.auth-container .register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 500px;
}
.auth-container .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.heading.login {
  margin-bottom: 30px;
}
.auth-container .input-field {
  padding: 0 15px;
  height: 40px;
  width: 90%;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: white;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  transform: translateX(225px);
  gap: 20px;
}
.register-form p {
  margin: 2px 0;
}
.auth-container .input-field input {
  outline: none;
  border: none;
  font-size: 1.05rem;
  background-color: transparent;
  color: black;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.auth-container .btn-container {
  background-color: var(--primary-color);
  box-shadow: 0 0 0 0;
  margin-bottom: 20px;
}
.auth-container .btn-container:hover {
  background-color: var(--primary-hover);
}
.auth-container .btn {
  font-size: 1.2rem;
}
.auth-container span a {
  color: white;
}

.auth-container .input-field.not-valid {
  border: var(--outline);
  background-color: rgba(255, 86, 86, 0.621);
}
.auth-container .input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.auth-container .input-box .input-field {
  width: 40%;
}

/* CHECK RESULTS COMPONENT - PAGE */
.results-section {
  height: 100dvh;
  color: white;
  display: flex;
  align-items: center;
  gap: 70px;
}

.results-section.responsive {
  overflow-y: scroll;
  display: block;
  gap: 100px;
}
.scratch-card-box {
  padding: 150px 30px 0;
  background-color: var(--primary-hover);
  height: 100dvh;
}
.responsive .scratch-card-box{
  padding: 130px 10px 0;
}
.text-info {
  background-color: rgb(255, 255, 255);
  color: red;
  border: 2px solid white;
  padding: 15px 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}
.results-section form h4 {
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
}

.text-info h3 {
  font-size: 1.6rem;
  margin: 5px 0;
  color: black;
  text-align: center;
}
.text-info ul {
  padding-left: 15px;
}
.responsive .text-info ul {
  
  padding-left: 12px;
}
.text-info li {
  font-weight: 600;
  margin: 5px;
}
.scratch-card-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.scratch-card-box input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.1rem;
  padding: 0 5px;
}
.scratch-card-box .input-field {
  border-radius: 5px;
  background-color: white;
  height: 40px;
  width: 95%;
}
.scratch-card-box .btn-container {
  box-shadow: 0 0 0 0;
  background-color: rgb(6, 162, 186);
  border-radius: 5px;
}
.scratch-card-box .btn-container:hover {
  background-color: rgb(5, 141, 162);
}
.scratch-card-box .btn {
  font-size: 1.2rem;
}
.responsive .scratch-card-box .btn {
  font-size: 1.1rem;
}
.result-display {
  display: flex;
  justify-content: center;
  height: 500px;
  overflow-y: scroll;
  margin-top: 70px;
  width: 50%;
}
.responsive .result-display {
  width: 100%;
  height: fit-content;
}
.result-display .result-table {
  width: 90%;
  margin-right: 50px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 15px;
}
.responsive .result-display .result-table {
  width: 100%;
  margin-right: 0;
  padding: 0;
}
.result-display .heading {
  background-color: white;
  padding: 5px;
  color: black;
  width: 98.5%;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.responsive .result-display .heading {
  width: 100%;
  font-size: 1rem;
}
.student-details {
  width: 100%;
}
.name-info {
  display: flex;
  margin: 0;
  gap: 10px;
  align-items: center;
  padding: 0 10px;
}
.name-info h4,
.name-info p {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
}
.responsive .name-info h4,
.responsive .name-info p {
  font-size: 0.9rem;

}
.grade-information,
.grade-information table {
  width: 100%;
  border-collapse: collapse;
}
.grade-information th,
.grade-information td {
  border: 1px solid white; /* Inside borders */
  text-align: center; /* Centers the text horizontally */
  vertical-align: middle; /* Centers the text vertically */
  padding: 10px; /* Adds some space inside cells */
  text-transform: uppercase;
  font-weight: 600;
}
.responsive .grade-information th,
.responsive .grade-information td {
  border: 1px solid white; /* Inside borders */
  text-align: center; /* Centers the text horizontally */
  vertical-align: middle; /* Centers the text vertically */
  padding: 5px; /* Adds some space inside cells */
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
}
.other-info {
  color: black;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.scores {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}

.card-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.placeholder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 40px;
  position: relative
}
.responsive .placeholder-container {
  width: 100%;
  height: 100dvh;
}
.placeholder-img {
  width: 250px;
}
.placeholder-container .text h4,
.placeholder-container .text p {
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
}

/*
*============
*LOADER COMPONENT
*============
*/
.loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container.grading {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 45%;
  left: 40%;
  z-index: 2;
}
.loader-container.grading p {
  font-size: 1.3rem;
  color: white;
  margin: 5px;
  font-weight: 600;
}
.loader-container.none p {
  display: none;
}
/*
*=========================
*PROTECTED ROUTE COMPONENT
*=========================
*/
.protected-route {
  height: 450px;
  width: 99.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
.protected-route .loader-container.grading {
  left: auto;
}
.protected-route .content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.protected-route a {
  text-decoration: none;
  color: white;
  background: var(--primary-color);
  padding: 5px 30px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s;
}
.protected-route a:hover {
  background: var(--primary-hover);
}

/*
*========================================
* MANAGE STUDENT & SCRATCH CARD COMPONENT
*========================================
*/

.tab-container {
  height: 77vh;
  width: 99.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student-list-table {
  background-color: white;
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.student-table-dash {
  height: 50px;
  margin: 5px;
  background: var(--primary-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.cta-box {
  display: flex;
  align-items: center;
}
.cta-box label {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
.student-table-dash input {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: white;
  font-size: 1.2rem;
  color: black;
  padding: 5px 10px;
}
.student-table-dash select {
  outline: none;
  height: 30px;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.student-list {
  height: 100%;
  overflow-y: scroll;
  padding-left: 20px;
}
.student-list table {
  width: 100%;
  padding-bottom: 80px;
}
.student-list table td,
.student-list table th {
  text-align: start; /* Centers the text horizontally */
  vertical-align: middle; /* Centers the text vertically */
  padding: 10px; /* Adds some space inside cells */
  text-transform: uppercase;
  font-weight: 600;
}
.student-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.student-list .btn-container {
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
}

.student-list .btn-container:hover {
  background-color: rgb(152, 2, 2);
}

.student-list .btn {
  font-size: 1.2rem;
  text-align: center;
}

.form-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.form-section .update-form {
  background-color: white;
  height: fit-content;
  width: 500px;
  padding: 10px 20px;
  border-radius: 5px;
}
.update-form .heading {
  color: white;
  background-color: var(--primary-color);
  padding: 2px 10px;
  border-radius: 2px;
  position: relative;
}
.heading .loader-container {
  right: 10px;
}
.update-form .heading h3 {
  margin: 5px;
}
.update-form .input-field {
  height: 40px;
  margin: 20px 0;
  background-color: #969696;
  border-radius: 5px;
  width: 62%;
}
.update-form .input-field input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
}
.update-form .input-field input::placeholder {
  color: var(--primary-color);
}
.radio-btn-box .radio-btn {
  margin: 10px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.update-form label {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.radio-btn input {
  height: 20px;
  width: 20px;
}
.update-form .btn-container {
  padding: 5px 25px;
  justify-self: flex-end;
  border-radius: 5px;
}
.update-form .btn {
  font-size: 1.3rem;
}
