<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="{{url_for('static', filename='style.css')}}"
      />
        <title>Grading</title> 
    </head>

    <body>

        <div class="container my-2 p-2"> 
                   <a class="cta" href="/secondary">Secondary</a>

            <form action='/' method="POST">
                <h5>Enter Student Name </h5>
            <input type="text" class="form-control" id="name" name="name" value="{{ name_of_student}}"><br>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th> SUBJECT </th>
                        <th> TEST</th>
                        <th> EXAM </th>
                        <th> TOTAL </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       
                        <td>ENGLISH LANGUAGE</td>
                        <td><input type="text" class="form-control" name="eng-test" value="{{ eng_test }}" required></td>
                        <td><input type="text" class="form-control" name="eng-exam" value="{{ eng_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ eng_total }}" readonly></td>

      
                    </tr>

                    <tr>
                       
                        <td>MATHEMATICS</td>
                        <td><input type="text" class="form-control" name="math-test" value="{{ math_test }}" required></td>
                        <td><input type="text" class="form-control" name="math-exam" value="{{ math_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ math_total }}" readonly></td>
     
                    </tr>
                    
                    <tr>
                       
                        <td>BASIC SCIENCE & TECHNOLOGY</td>
                        <td><input type="text" class="form-control" name="bst-test" value="{{ bst_test }}" required></td>
                        <td><input type="text" class="form-control" name="bst-exam" value="{{ bst_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ bst_total }}" readonly></td>

      
                    </tr>
                    <tr>
                       
                        <td>RELIGIOUS AND NATIONAL VALUES</td>
                        <td><input type="text" class="form-control" name="rnv-test" value="{{ rnv_test }}" required></td>
                        <td><input type="text" class="form-control" name="rnv-exam" value="{{ rnv_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ rnv_total }}" readonly></td>

      
                    </tr>
                    <tr>
                       
                        <td>PRE-VOCATIONAL STUDIES</td>
                        <td><input type="text" class="form-control" name="prevoc-test" value="{{ prevoc_test }}" required></td>
                        <td><input type="text" class="form-control" name="prevoc-exam" value="{{ prevoc_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ prevoc_total }}" readonly></td>

      
                    </tr> 
                    <tr>
                       
                        <td>VERBAL REASONING</td>
                        <td><input type="text" class="form-control" name="verbal-test" value="{{ verbal_test }}" required></td>
                        <td><input type="text" class="form-control" name="verbal-exam" value="{{ verbal_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ verbal_total }}" readonly></td>

      
                    </tr>
                    <tr>
                       
                        <td>QUANTITATIVE REASONING</td>
                        <td><input type="text" class="form-control" name="quant-test" value="{{ quant_test }}" required></td>
                        <td><input type="text" class="form-control" name="quant-exam" value="{{ quant_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ quant_total }}" readonly></td>

      
                    </tr>

                    <tr>
                       
                        <td>CULTURAL & CREATIVE ARTS</td>
                        <td><input type="text" class="form-control" name="cca-test" value="{{ cca_test }}" required></td>
                        <td><input type="text" class="form-control" name="cca-exam" value="{{ cca_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ cca_total }}" readonly></td>

      
                    </tr>
                    <tr>
                       
                        <td>ASUSU IGBO</td>
                        <td><input type="text" class="form-control" name="igbo-test" value="{{ igbo_test }}" required></td>
                        <td><input type="text" class="form-control" name="igbo-exam" value="{{ igbo_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ igbo_total }}"readonly></td>

      
                    </tr>
                   
                    <tr>
                       
                        <td>LITERATURE</td>
                        <td><input type="text" class="form-control" name="lit-test" value="{{ lit_test }}" required></td>
                        <td><input type="text" class="form-control" name="lit-exam" value="{{ lit_exam }}" required></td>
                        <td><input type="text" class="form-control" value="{{ lit_total }}"readonly></td>

      
                    </tr>
                    </tbody>
                </table>
                <div class="form-row">
                    <div class="col">
                        <h5 align="center" >AVERAGE</h5>
                        <input type="text" class="form-control" id="name" value="{{ average }}" readonly ><br>
                    </div>
                    <div class="col"> 
                        <h5 align="center">TOTAL SCORE</h5>
                        <input type="text" class="form-control" id="name" value="{{ total_score }}" readonly><br>
                    </div>
                </div>
                <button type="text" class="btn btn-primary">Calculate</button><BR>
            </form><br>
        </div>
    </body>
</html>