body{
    padding: 13px;
}
#aver{
    color:red;
    font-size: 50px;
}
#name{
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
    align-items: center;
    text-align: center;

}
h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: blue;

}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.cta{
    background-color: darkblue;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100px;
    font-size: 20px;

}
.cta:hover{
    background-color: white;
    text-decoration: none;
    color: darkblue;
    border: 2px solid black;
}
#clearBtn{
    position: relative;
    top: -62px;
    left: 90%;
}
#BackToTopBtn{
    border-radius: 75px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: all 1s;
    cursor: pointer;
}
#BackToTopBtn:hover{
    transform: scale(1.25,1.25);
    color: blue;
}
#deleteBtn{
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
#deleteBtn:hover{
    transform: scale(1.05,1.05);
}